package $packagePrefix$packageSuffix;

import java.io.Serializable;
import com.fasterxml.jackson.annotation.JsonProperty;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if($tableColumns.constrainImports)
    #foreach($i in $tableColumns.constrainImports)
$i
    #end
#end

/**
* @Author auto generate
* @Description ${table.tableComment}新增或修改请求
* @Date ${datetime}
*/
@Data
public class $clazzName implements Serializable {

#if($columns)
    #foreach($column in $columns)
    @JsonProperty("$column.javaName")
    @ApiModelProperty("#if($column.columnComment && $column.columnComment != '')$column.columnComment#end")
    #if($column.constrains)
        #foreach($i in $column.constrains)
    $i
        #end
    #end
    private $column.javaType $column.javaName;

    #end
#end
}