package $packagePrefix$packageSuffix;

import java.io.Serializable;
import com.fasterxml.jackson.annotation.JsonProperty;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/**
* @Author auto generate
* @Description ${table.tableComment}Excel导入响应
* @Date ${datetime}
*/
@Data
public class $clazzName implements Serializable {

#if($columns)
    #foreach($column in $columns)
    @JsonProperty("$column.javaName")
    @ApiModelProperty("#if($column.columnComment && $column.columnComment != '')$column.columnComment#end")
    private $column.javaType $column.javaName;

    #end
#end
}