package $packagePrefix$packageSuffix;

import ${packagePrefix}${codeTemplateSuffix.get('Entity').packageSuffix}.${entityName}${codeTemplateSuffix.get('Entity').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('SaveRequest').packageSuffix}.${entityName}${codeTemplateSuffix.get('SaveRequest').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('ExcelImportRequest').packageSuffix}.${entityName}${codeTemplateSuffix.get('ExcelImportRequest').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('SaveResponse').packageSuffix}.${entityName}${codeTemplateSuffix.get('SaveResponse').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('DetailResponse').packageSuffix}.${entityName}${codeTemplateSuffix.get('DetailResponse').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('ListResponse').packageSuffix}.${entityName}${codeTemplateSuffix.get('ListResponse').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('ExcelImportResponse').packageSuffix}.${entityName}${codeTemplateSuffix.get('ExcelImportResponse').fileSuffix};
import ${packagePrefix}${codeTemplateSuffix.get('ExcelExportResponse').packageSuffix}.${entityName}${codeTemplateSuffix.get('ExcelExportResponse').fileSuffix};
import ${codeTemplateClass.get('CopyUtil').codeClass};
import lombok.extern.slf4j.Slf4j;

import java.util.List;

@Slf4j
public abstract class ${clazzName} {

    public static ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix} to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}(${entityName}${codeTemplateSuffix.get('Entity').fileSuffix} origin, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}SaveRequest request) {
        ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix} target = ${codeTemplateClass.get('CopyUtil').type}.copy(request, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}.class);
        if (null != origin) {
            target.setId(origin.getId());
        }
        return target;
    }

    public static List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}> to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}ImportSave(List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelImportRequest').fileSuffix}> request) {
        return  ${codeTemplateClass.get('CopyUtil').type}.copyList(request, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}.class);
    }

    public static List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ListResponse').fileSuffix}> to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}List(List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}> list) {
        return ${codeTemplateClass.get('CopyUtil').type}.copyList(list, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ListResponse').fileSuffix}.class);
    }

    public static ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('DetailResponse').fileSuffix} to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('DetailResponse').fileSuffix}(${entityName}${codeTemplateSuffix.get('Entity').fileSuffix} origin) {
        return ${codeTemplateClass.get('CopyUtil').type}.copy(origin, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('DetailResponse').fileSuffix}.class);
    }

    public static ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('SaveResponse').fileSuffix} to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('SaveResponse').fileSuffix}(${entityName}${codeTemplateSuffix.get('Entity').fileSuffix} origin) {
        return ${codeTemplateClass.get('CopyUtil').type}.copy(origin, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('SaveResponse').fileSuffix}.class);
    }

    public static List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelImportResponse').fileSuffix}> to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelImportResponse').fileSuffix}(List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}> list) {
        return ${codeTemplateClass.get('CopyUtil').type}.copyList(list, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelImportResponse').fileSuffix}.class);
    }

    public static List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelExportResponse').fileSuffix}> to${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelExportResponse').fileSuffix}(List<${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}> list) {
        return ${codeTemplateClass.get('CopyUtil').type}.copyList(list, ${entityName}${codeTemplateSuffix.get('Entity').fileSuffix}${codeTemplateSuffix.get('ExcelExportResponse').fileSuffix}.class);
    }

}