package $packagePrefix$packageSuffix;

import com.fasterxml.jackson.annotation.JsonProperty;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import ${codeTemplateClass.get('PageRequest').codeClass};

/**
* @Author auto generate
* @Description ${table.tableComment}分页请求
* @Date ${datetime}
*/
@Data
public class $clazzName extends ${codeTemplateClass.get('PageRequest').type} {

#if($columns)
    #foreach($column in $columns)
    @JsonProperty("$column.javaName")
    @ApiModelProperty("#if($column.columnComment && $column.columnComment != '')$column.columnComment#end")
    private $column.javaType $column.javaName;

    #end
#end
}